
.foot_div{
	height: 70px; width: 1000px; background-color: #696969; border: 1px solid black; margin: 10px auto 0px auto; text-align: center; font-size: 250%; font-weight: bold; 
}

.foot_table{
	font-size: 30px; height: 40px; width: 600px; margin: 15px auto 0 auto;
}

.foot_banner{
	padding-top: 5px; height: 20px; width: 1000px; margin: 0 auto; text-align: center; 
}

