html{
	background-color: #A9A9A9; font-size: 13px; font-family: ubuntu, tahoma, helvetica, geneva, arial, sans-serif;
}

.top{
	width: 1002px; margin: 20px auto 0 auto; font-size: 13px; background-color: #696969; color: white; border: 1px solid black;  
}	

.banner_center{
	height: 92px; width: 1000px; margin:0 auto 0 auto; text-align: center; border: 1px solid black; 
}

.login_div{
	height: 320px; width: 1000px; margin: 10px auto 0 auto; background-color: #FFFFFF; border: 1px solid black;
}

